  .container-fluid span{
  margin-left: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 197%;
  }
  
  .nav-item {
  margin-right: 30px;
  }
  .nav-item a{
    margin-right: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
    
  }

  .nav-item :hover{
    background-color:#3b434a;
    border-radius: 10px;
    text-decoration: none;

  }

  .navbar-nav .btn {
  margin-top: 1%;
  margin-bottom: 1%;
   
  }
 
  .navbar-toggler {
    border: none;
    font-size: 78%;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2873, 80, 87, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-color: white;
  }

  
  @media (max-width: 100px) {
    .navbar-nav .nav-item {
      text-align: center;
      
      margin-top: 10px;
    }
  }
  